@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(129, 127, 127);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.container {
    width: 80%;
   max-width: 1100px;
   margin: auto;
}
nav {
    background-color: white;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    bottom: 100;
    display: flex;
    justify-content: space-between;
}

.cartitem {
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    height: 100;
    top: 10.88vh;
    width: 40%;
    display: none;

}

.cartitem-active{
    display: block;
}

.cartitem  h1{
    text-align: center;
    border: 1px solid;
    padding: 10px;
    text-transform: capitalize;
}

.cartpros {
    display: flex;
    /*justify-content: space-around;*/
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

#closecartitems {
    text-align: center;
    background-color: red;
    display: flex;
    width: 50%;
    margin: auto;
    border: none;
    margin-top: 100px;
    padding: 10px;
    text-transform: capitalize;
}

@media screen and (max-width: 700px){
    .cartitem{
        width: 100%;
    }

    #cart-icon {
        margin-right: 10px;
        padding-right: 10;
    }
}

@media screen and (max-width: 500px){
    .cartitem{
        width: 100%;
        right: 0;
        left: 0;
        top: 12vh;
    }
    #closecartitems{
        display: block;
    }

    #cart-icon {
        margin-right: 10px;
    }
}

.cartpros img{
    width: 70px;
    height: 80px;
}

#cartnum {
   background-color: wheat;
   align-self: center;
   padding: 10px;
   border-radius: 5px;
   margin: 10px;
   width: 50px;
}

#plus,#subtra,#cartprice{
    align-self: center;
    background-color: wheat;
    padding: 10px 20px; 
    margin: 20px;
}

#removeitem{
    background-color: red;
    color: white;
    align-self: center;
    padding: 10px;
}

#cart-icon{
    font-size: 50px;
    padding-right: 40px;
    margin-right: 50px;
}

.closecart{
    background-color: red;
    color: white;
    font-size: 23px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 90px;
    left: -50px;
}

.logo img {
width: 200px;
margin-left: 10px;
}



.header h1 {
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    color: white;
    padding: 10px;
}

.item {
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
}

.item img {
    height: 210px;
    width: 250px;
}

.product {
    display: flex;
    justify-content: center;
    margin:  auto;
    margin-top: 100px;
   
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*width: 100%;*/
    margin-top: 50px;
    
}

@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
    /* CSS */
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
        width: 100%;
        grid-gap: 10px;
    }

    .item img {
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    .item {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        height: 230px;

    }
    header {
        width: 100%;
    }
    }


@media screen and (max-width: 700px){
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
        width: 100%;
        grid-gap: 10px;
    }

    .item img {
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    .item {
        width: 100%;
        margin-top: 10px;
       

    }
    header {
        width: 100%;
    }
}

#price {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

#title {
    margin-bottom: 15px;
}

.discrpt {
    margin-bottom: 10px;
    text-align: center;
}

#addbtn {
    margin-bottom: 10px;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#addbtn:hover {
    background-color: wheat;
    color: black;
}

